.outter-title{
    width: 67%;
}

.single-buttons{
    width: 67%;
    display: flex;
    justify-content: end;
}

.single-rows{
    display: flex;
    flex-flow: column;
    gap: 1rem;

}

.single-card-info-details{
    width: 100%;
}

.vertical-line{
    border-right: 1px solid black;
}

.selected-course{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
  }