.card {   
    height: 15rem;
    display: flex;
    flex-flow: column;
    width: 65%;
    padding: 1rem;
    border-left: 7px solid #353e48;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card-info {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.card-info-description {
    width: 100%;
}

.card-info-details {
    width: 40%;
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

.row {
    display: flex;
    gap: 1rem;
}